h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: 48px; }

p {
  font-size: 24px; }

li {
  list-style-type: none; }

ul {
  margin-left: 0;
  padding-left: 0; }

.navigate {
  height: 95vh;
  background-color: #677782; }

.link {
  padding-left: 40px;
  height: 19vh;
  line-height: 19vh; }

.link:hover {
  background-color: #5FA330; }

.link a {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 3vh;
  color: #ffffff; }

.feedback {
  margin: 0px auto; }

form .ng-touched.ng-invalid {
  border: 1px solid #FD0000; }
