li {
  list-style-type: none; }

ul {
  margin-left: 0;
  padding-left: 0; }

.navigate {
  height: 95vh;
  background-color: #677782; }

.link {
  padding-left: 40px;
  height: 19vh;
  line-height: 19vh; }

.link:hover {
  background-color: #5FA330; }

.link a {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 3vh;
  color: #ffffff; }

nav {
  width: 980px;
  position: relative;
  top: 0; }

nav a {
  display: inline;
  text-align: right;
  padding: 10px;
  color: #444444;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none; }

nav a:hover {
  border: 1px solid #717171; }

.feedback {
  margin: 0px auto;
  height: 95vh;
  line-height: 95vh; }

form .ng-touched.ng-invalid {
  border: 1px solid #FD0000; }
